.featured-projects-container {
    background-color: #1C3144;
    color: white;
    display: block;
    transform: rotate(-3deg) scale(125%);
}

.subtitle {
    padding-top: 2rem;
    text-align: center;
    transform: rotate(3deg) scale(75%);
}

.featured-projects {
    transform: rotate(3deg) scale(75%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}