.featured-projects-container {
    background-color: #1C3144;
    color: white;
    transform: rotate(-3deg) scale(125%);
}


.subtitle {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    transform: rotate(3deg) scale(75%);
}

.featured-projects {
    transform: rotate(3deg) scale(75%) translateY(-2rem);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}