.featured-projects-container {
    background-color: #1C3144;
    color: white;
    z-index: auto;
}


.subtitle {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: center;
}

.featured-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}