.expanded-photos-from-dot {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: auto;
  border: 2px solid grey;
}

svg .Dot {
  r: 4.5;
  fill: red;
  color: "red";
  transform: translate(-36px, -20px);
  z-index: 2;
  transition: r 0.2s ease;
}

svg .Dot:hover {
  r: 6;
}

.map svg foreignObject {
  overflow: visible;
}