.photos {
  position: absolute;
  z-index: 3;
  height: 200px;
  width: min-content;
  border: 2px solid grey;
  object-fit: contain;
}

.Dot {
  position: absolute;
  fill: green;
  border: 1px solid black;
  transform: translate(-36px, -20px);
  z-index: 4;
  transition: r 0.2s ease;
  r:3;
}

circle {
    r:4px;
}

circle:hover {
    r: 6px;
}

foreignObject {
  overflow: visible;
  display: inline-flex;
  width: 1px;
  height: 1px;
  z-index: 3;
  border: 2px solid grey;
}